.footer {
    color: $footer;
    background-color: $dblue;
    padding: 80px 0 30px;
    flex-shrink: 0;

    &__wrap {
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-bottom: 90px;

        &::before {
            @include size(100%, 2px);
            @include pos($l:0, $b:-60px);
            content: '';
            background: $white;
            opacity: .2;
        }
    }

    &__box {
        display: flex;
        width: 55.5%;
        justify-content: space-between;
        transform: translateX(80%);

        align-items: center;

        .footer__text > .footer__link {
            font-size: 12px;
            line-height: 46px;
            font-feature-settings: 'pnum' on, 'lnum' on;
        }
    }

    &__list {
        margin: 0 15px;
    }

    &__item {
        font-size: 18px;
        line-height: 46px;
        
        
    }

    &__link {
        color: $footer;
        font-size: 18px;
        line-height: 21px;

        &:hover {
            text-decoration: none;
        }

        &--contact {
            font-feature-settings: 'pnum' on, 'lnum' on;
        }

        &--active {
            color: $white;
            font-weight: 700;
            font-size: 20px;
            line-height: 23px;
            text-transform: uppercase;
        }
    }
}