.select {
    
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
    text-transform: uppercase;
    color: $lblue;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    flex-direction: column;



    @media (min-width: 768px) {
        font-size: 20px;
        line-height: 23px;
        padding: 25px 0;
        flex-direction: row;
    }

    &__item {
        min-width: 160px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        @media (min-width: 768px) {
            justify-content: space-evenly;
            align-items: center;
        }
    }

    &__text {

    }

    &__icon {
        font-size: 20px;
        position: relative;
        top: 2px;
    }

    i[class^="icon-"] {
        margin: 0 20px;
    }
    .icon-arrow {
        font-size: 15px;
    }

}